<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h2 class="offset-5">Edit the List</h2>
    <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings/<%=list._id%>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" class="form-control"value="<%=list.title%>" required>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div><br>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="listing[description]" class="form-control" value="<%=list.description%>" required>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div><br>

                    <div class="mb-3">
                    Original Image<br>
                        <img src="<%=originalImgUrl%>" alt="<%=list.image.filename%>">
                        
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control" >
                        
                    </div><br>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" class="form-control" value="<%=list.price%>" required>
                            <div class="invalid-feedback">Enter appropriate price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" class="form-control" value="<%=list.location%>" required>
                            <div class="invalid-feedback">Please provide a location</div>
                        </div>
                    </div><br>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%=list.country%>" required>
                        <div class="invalid-feedback">Please enter the country</div>
                    </div><br>
                    <button class="btn btn-danger">Edit</button>
                </form>
            </div>
    </div>      
</body>